# Python
__pycache__/
*.py[cod]
*.so

# Virtual envs
.venv/
venv/

# Local/dev files
.env
.env.*
*.ipynb

# Build and VCS
.git/
.gitignore

# Runtime artifacts
uploads/
*.jpg
*.jpeg
*.png
*.webp

# Editors
.vscode/
.idea/
